# Required when this module is the root of fluid-pub/probe-gitlab on GitHub.
# Monorepo dev can use replace => ../core in go.mod without initializing this submodule.
[submodule "core"]
	path = core
	url = https://github.com/fluid-pub/probe-core.git
	branch = develop
